<div class="row mx-0 align-items-center header-background rounded overflow-hidden">
    <div class="col-3 p-0">
        <div class="cut-corners">
            <img class="profile-img" src="~/img/angel_demon.jpeg"
            alt="Rafael's profile picture">
        </div>
    </div>
    <div class="col-9 px-3 py-2 d-flex flex-wrap justify-content-start">
        <p class="fs-2 mb-0">Rafael Estrada <span class="fs-4 mb-0 fw-light">@@ntaticat</span></p>

        <p class="badge bg-dark fs-3 mb-0">Software Engineer</p>
    </div>
</div>