<div class="col-12 px-0 p-md-3">
    <div class="list-group">
        <a asp-controller="Home" asp-action="Index"
            class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action"
            aria-current="true">Home</a>
        <a asp-controller="Home" asp-action="Projects"
            class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">Personal
            Projects</a>
        <a href="#" class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">Dev
            Diaries</a>
        <a href="#" class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">English
            Notes</a>
        <a href="#" class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">Contact me</a>
    </div>
</div>