<div class="col-12 col-md-4 px-0">
    <div class="sticky-top">
        <div class="d-none d-md-flex row mx-0">
            <partial name="_NavigationCardPartialView" />
        </div>
        <div class="row mx-0">
            <div class="col-12 p-3">
                <img class="w-100" src="~/img/chihiro_typing.gif" alt="Chihiro Fujisaki Mood">
                <button class="btn btn-success text-light mt-3 w-100">Contact Me</button>
            </div>
        </div>
    </div>
</div>