<div class="col-4 px-0 border-1 border-start border-dark">
    <div class="sticky-top">
        <div class="row mx-0">
            <div class="col-12 p-3 border-1 border-bottom border-dark">
                <div class="list-group">
                    <a asp-controller="Home" asp-action="Index"
                        class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action"
                        aria-current="true">Home</a>
                    <a asp-controller="Home" asp-action="Projects"
                        class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">Personal
                        Projects</a>
                    <a href="#" class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">Dev
                        Diaries</a>
                    <a href="#"
                        class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">English
                        Notes</a>
                    <a href="#"
                        class="bg-light bg-opacity-75 text-center list-group-item list-group-item-action">Contact me</a>
                </div>
            </div>
            <div class="col-12 p-3">
                <img class="w-100"
                    src="~/img/chihiro_typing.gif"
                    alt="Chihiro Fujisaki Mood">
                <button class="btn btn-success text-light mt-3 w-100">Contact Me</button>
            </div>
        </div>
    </div>
</div>